@mixin flex($flex: flex, $direction: row, $justify: flex-start, $align: flex-start, $wrap: nowrap){    
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    color: $blue;
}

main {
    margin-top: 84px;
}

button,
button:focus,
a,
input,
label {
    color: inherit;
    background: inherit;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}

li {
    list-style: none;
}

.container-big {
    margin: 0 auto;
    width: 1250px;
    max-width: 97%;
}

.container {
    margin: 0 auto;
    width: 1140px;
    max-width: 90%;
}

.text-center {
    text-align: center;
}

.in-block {
    display: inline-block;
}